*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{

    width: 500px;
    height: 350px;
    margin: 40px auto;

    border: 2px solid cadetblue;
    border-radius: 5px;
}

.section{
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

.graphBar{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.site {
    display: block;
    width: auto;
}

.graph{
    margin-left: 15px;
    flex-direction: column;
    border-left: 4px solid black;
    width: 200px;
}
.graphElement{
    border: 1px solid blue;
    background: cadetblue;
    border-left: none;
    height: 20px;
    width: 25%;

}
.siteAndBar{
    display: flex;
    align-items: center;
    height: 40px;
    width: 400px;

}

.graphWrapper{
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-left: 4px solid black;
    width: 290px;
}
.wrapperCheckAndSite{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.checkBtnText{
    font-size: 12px;
}

.price{
    padding-left: 8px;
}
.rangeBar{
    display: flex;
    margin-top: 5px
}
.sectionItem + .sectionItem{
    margin-left: 15px;
}


@media (max-width: 520px) {
   .card{
       display: flex;
       flex-direction: column-reverse;
       justify-content: start;
       align-items: center;
       height: 600px;
       width: 420px;
       padding-top: 15px;

   }
    .graphBar{
        height: 400px;
        margin-left: 0;
    }
    .siteAndBar{
        height: auto;
    }
    .graphWrapper{
        padding: 40px 0;
    }
    .rotateWrapper{
        transform: rotate(-90deg);
    }
    .wrapperCheckAndSite{
        transform: rotate(90deg);
        text-align: center;
        font-size: 14px;
    }
    .checkBtnText{
        font-size: 10px;
    }
    .section{
        flex-direction: column;
    }
    .rangeBar{
        display: flex;
        margin-top: 5px
    }
    .sectionItem + .sectionItem{
        margin-left: 0;
        margin-top: 15px;
    }
}
